* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* 16px * 62.5 = 10px = 1rem */ }

body {
  margin: 0;
  height: 100vh;
  font: 1.6rem Helvetica, Arial; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    color: #f08040; }

button {
  cursor: pointer; }

input,
button {
  padding: 1rem;
  font: 1.6rem helvetica;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem; }
  input input:hover, input:hover,
  button input:hover,
  button:hover {
    border: 0.1rem #404040 solid; }
  input.primary,
  button.primary {
    background-color: #f0c040; }

.fw {
  width: 100%; }

.success {
  color: #40c040; }

.error {
  color: #c04040; }

.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%; }

header {
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  background-color: #203040;
  color: #fff; }
  header a {
    color: #fff;
    font-weight: bold;
    text-decoration: none; }
    header a:hover {
      color: #f08040; }
  header .brand a {
    font-size: 3rem; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #203040;
  color: #fff; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.5); }
  .overlay.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff; }
  .overlay > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 40rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000; }
    .overlay > div > * {
      margin: 2rem; }

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none; }
  .products li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30rem;
            flex: 0 1 30rem;
    margin: 1rem;
    margin-bottom: 0;
    height: 42rem;
    border-top: 0.2rem #e0e0e0 solid; }
    .products li .product {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      height: 100%; }
      .products li .product img {
        max-height: 26rem;
        max-width: 22rem;
        margin-top: 2rem; }
      .products li .product-name {
        line-height: 2.2rem; }
      .products li .product-brand {
        font-size: 1.2rem;
        color: #808080; }
      .products li .product-price {
        font-size: 2rem; }

.content {
  padding: 1rem; }
  .content .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .content .details-image {
      -webkit-box-flex: 2;
          -ms-flex: 2 1 60rem;
              flex: 2 1 60rem; }
      .content .details-image img {
        min-width: 60rem;
        width: 100%; }
    .content .details-info, .content .details-action {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 30rem;
              flex: 1 1 30rem; }
      .content .details-info ul, .content .details-action ul {
        padding: 0;
        list-style-type: none; }
    .content .details-info h1 {
      font-size: 2rem;
      margin: 0; }
    .content .details-info li, .content .details-action li {
      margin-bottom: 1rem; }
    .content .details-action {
      padding: 1rem;
      border: 0.1rem #808080 solid;
      border-radius: 0.5rem;
      background-color: #f8f8f8; }

.rating {
  font-size: 1.8rem;
  color: #ffc000; }
  .rating span:last-child {
    font-size: 1.4rem;
    color: #444444; }

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .cart-list {
    -webkit-box-flex: 3;
        -ms-flex: 3 1 60rem;
            flex: 3 1 60rem; }
    .cart-list-container {
      padding: 1rem;
      list-style-type: none; }
      .cart-list-container li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 0.1rem #c0c0c0 solid; }
        .cart-list-container li:first-child {
          -webkit-box-align: end;
              -ms-flex-align: end;
                  align-items: flex-end; }
      .cart-list-container img {
        max-width: 10rem;
        max-height: 10rem; }
    .cart-list h3 {
      margin: 0; }
    .cart-list button,
    .cart-list select {
      padding: 0.5rem;
      font-size: 1.3rem; }
  .cart-image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1; }
  .cart-name {
    -webkit-box-flex: 8;
        -ms-flex: 8 1;
            flex: 8 1; }
    .cart-name > div {
      padding: 1rem; }
  .cart-price {
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    text-align: right; }
  .cart-action {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20rem;
            flex: 1 1 20rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #f0f0f0; }

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }
  .form-container h1 {
    font-size: 2.5rem; }
  .form-container .form-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 32rem;
    padding: 2rem;
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
    list-style-type: none; }
    .form-container .form-items li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 1rem;
      margin-top: 1rem; }

/*# sourceMappingURL=index.css.map */
