.content {
  padding: 1rem;

  .details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    &-image {
      flex: 2 1 60rem;

      img {
        min-width: 60rem;
        width: 100%;
      }
    }

    &-info,
    &-action {
      flex: 1 1 30rem;

      ul {
        padding: 0;
        list-style-type: none;
      }
    }

    &-info {
      h1 {
        font-size: 2rem;
        margin: 0;
      }
    }

    &-info,
    &-action {
      li {
        margin-bottom: 1rem;
      }
    }

    &-action {
      padding: 1rem;
      border: 0.1rem #808080 solid;
      border-radius: 0.5rem;
      background-color: #f8f8f8;
    }
  }
}
